@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

/* wrapper2 */

.wrapper_2 {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

/* end wrapper2 */

/* custom */

.show {
    display: block !important;
}

/* end custom */

.wrapper {
    width: 100%;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container {
    width: 1140px;
    height: calc(100vh - 110px);
    background-color: white;
    padding: 110px 20px 0px;
}

.edit {
}

.edit_form {
    width: 100%;
}

.edit_label {
    font-size: 22px;
}

.edit_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 20px 0;
}

.edit_input-postName {
    padding: 8px 11px;
    border: 2px solid #eee;
    font-size: 18px;
    outline: none;
    width: 85%;
    border-radius: 10px;
}

.edit_input-submit {
    border-radius: 10px;
    padding: 8px 16px;
    border: 2px solid #eee;
    font-size: 16px;
    outline: none;
    background-color: white;
}

/* notification */

.notification {
    min-width: 320px;
    position: absolute;
    top: 120px;
    left: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
}

.notification_content {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.notification_img {
    width: 50px;
    height: 50px;
}

@keyframes noti {
    0% {
        left: 100%;
    }
    25% {
        left: calc(100% - 370px);
    }
    75% {
        left: calc(100% - 370px);
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}
